<div class="item">
	<div class="itemLabel">
		Pump Pressure:
	</div>
	<div class="itemContent">
		
		<table><tr>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:(data.pump_pressure_in)}} kPa</div></td>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:(data.pump_pressure_out)}} kPa</div></td>
		</tr></table>
		
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Pump Flow:
	</div>
	<div class="itemContent">
	
		<table><tr>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:((data.last_pump_flow)}} l/s</div></td>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:data.last_pump_mass)}} kg/s</div></td>
		</tr></table>
	</div>
</div>




<div class="item">
	<div class="itemLabel">
		Turbine Pressure:
	</div>
	<div class="itemContent">
		<table><tr>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:(data.turbine_pressure_in)}} kPa</div></td>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:(data.turbine_pressure_out)}} kPa</div></td>
		</tr></table>
	</div>
</div>


<div class="item">
	<div class="itemLabel">
		Turbine Flow:
	</div>
	<div class="itemContent">
		<table><tr>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:((data.last_turbine_flow)}} l/s</div></td>
			<td><div style="float: left; width: 100px; text-align: right;">&nbsp;{{:data.last_turbine_mass)}} kg/s</div></td>
		</tr></table>
	</div>
</div>



<div class="item">
	<div class="itemLabel">
		Load:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.kinetic_energy, 0, data.overload_energy, (data.kinetic_energy < data.safe_energy) ? 'good' : 'average')}}
		<br/>
		<div class="statusValue">
			{{:data.power}} W
		</div>
	</div>
</div>
